.open{
    transition: 500ms;
    transform: translateX(0px);
}

body{
    width: 100vw;
    overflow-x: hidden;
}

.close{
    transition: 500ms;
    transform: translateX(400px);
}

.sidemenu{
    width: 400px;
    height: 100vh;
    position: absolute;
    z-index:5;
    top:0;
    right:0;
    background-color: rgb(116, 180, 236);
    /* transform: translateX(200px); */
}

@keyframes spin-logo {
    to{
        transform: rotate(360deg);
    }
}

.animate-logo{
    animation: spin-logo 10s linear 10s;
}

.img-bg{
    /* background-image: url('/public/assets/pexels-alex-andrews-3805983.jpg'); */
    background-image: url('/public/assets/pexels-asim-alnamat-32997.jpg');
    /* background-image: url('/public/assets/pexels-frank-cone-2495173.jpg'); */
    /* filter: blur(4px); */
    background-size: cover;
}

.pattern-bg{
    /* background-image: url('/public/assets/background/pexels-henry-&-co-1939485.jpg'); */
    /* background-image: url('/public/assets/background/pexels-mnm-zameer-3308588.jpg'); */
    /* background-image: url('/public/assets/background/double-bubble-outline.png'); */
    background-image: url('/public/assets/background/vecteezy_diamond-pattern-background-with-rose-gold-foil-texture_6530006.jpg');
    background-size: none;
    /* background-repeat: no-repeat; */
}

.pattern-bg-2{
    background-color: #e5e5f7;
    opacity: 1;
    background-image:  linear-gradient(135deg, #d5d5d5 25%, transparent 25%), linear-gradient(225deg, #d5d5d5 25%, transparent 25%), linear-gradient(45deg, #d5d5d5 25%, transparent 25%), linear-gradient(315deg, #d5d5d5 25%, #e5e5f7 25%);
    background-position:  7px 0, 7px 0, 0 0, 0 0;
    background-size: 7px 7px;
    background-repeat: repeat;
}

.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #000 transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.transition-transform-slow{
    transition-duration: 500ms !important;
}

.event-box{
    height: 200px;
    width: 320px;
    border-radius: 10px;
    background-color: #555;
    margin: 10px;
}

.img-bg-2{
    /* background-image: url('/public/assets/background/desc_background.jpeg'); */
    background-image: url('/public/assets/background/5040007.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* @keyframes scroll {
    0% {
        transform: translateX();
    }
} */

.infinite-scroll{
    /* transform: translateX(200px); */
}

@keyframes marquee {
    0% {
        left: 0;
    }
    100% {
        left: -375%;
    }
}
.animate-infinite {
    width: 750%;
    animation: marquee 20s linear infinite;
    top: 50%;
    transform: translate(0, -50%);
}
.logo a {
    width: 100px;
    -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}